{% if delivery_sidebar_nav %}

    {% with plan_menu=delivery_sidebar_nav sidebar_title="交付管理" sidebar_subtitle="Delivery Management" %}
        {% include 'shared/sidebar_v2_wireframe_fixed.html' %}
    {% endwith %}
{% elif plan_menu or module_sidebar_nav %}

    {% include 'shared/sidebar_v2_wireframe_fixed.html' %}
{% elif sidebar_menu %}

    {% with plan_menu=sidebar_menu sidebar_title="功能模块" sidebar_subtitle="Modules" %}
        {% include 'shared/sidebar_v2_wireframe_fixed.html' %}
    {% endwith %}
{% else %}

    {% include 'shared/sidebar_v2_wireframe_fixed.html' %}
{% endif %}
