{% extends "shared/list_page_base.html" %}
{% load static %}

{% block list_page_title %}目标列表{% endblock list_page_title %}
{% block list_page_subtitle_content %}<span class="pm-subtitle">查看和管理所有战略目标</span>{% endblock list_page_subtitle_content %}

{% block pm_actions %}
<a href="{% url 'plan_pages:strategic_goal_create' %}" class="list-btn list-btn-primary">
  创建战略目标
</a>
{% endblock pm_actions %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/list_layout.css' %}">

{% endblock extra_css %}


