# Django
*.pyc
*~
__pycache__
db.sqlite3
media

# Environment variables
.env
.venv

# IDE
.vscode
.idea

# Static files
/staticfiles/

# Database
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*

# Coverage
.coverage
htmlcov/

# PyCharm
.idea/
