{% extends "customer_management/_base.html" %}
{% load static %}

{% block cm_title %}{{ page_title }}{% endblock %}
{% block cm_subtitle %}<span class="pm-subtitle">查看和管理所有合同变更记录</span>{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/list_layout.css' %}">
{% endblock %}

{% block cm_content %}
  {% include "customer_management/_partials/_contract_change_filters.html" %}
  {% include "customer_management/_partials/_contract_change_table.html" %}
{% endblock %}
